name: 'Test OpenAPI Spec Diff Action'
on: push
jobs:
  # oas_diff_job:
  #   runs-on: ubuntu-latest
  #   name: A job to test OpenAPI Spec diff action
  #   steps:
  #       - name: checkout
  #         uses: actions/checkout@v3
  #       - name: Running OpenAPI Spec diff action
  #         id: test_ete
  #         uses: ./
  #         with:
  #           base: 'specs/base.yaml'
  #           revision: 'specs/revision.yaml'
  oas_diff_breaking_changes_job:
    runs-on: ubuntu-latest
    name: A job to test OpenAPI Spec breaking changes
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Running OpenAPI Spec check breaking action
        id: test_breaking_changes
        uses: ./check-breaking
        with:
          base: https://raw.githubusercontent.com/Tufin/oasdiff/main/data/openapi-test1.yaml
          revision: https://raw.githubusercontent.com/Tufin/oasdiff/main/data/openapi-test3.yaml
