name: 'Test OpenAPI Spec Diff Action'
on:
  pull_request:
  push:
jobs:
  oas_diff_job:
    runs-on: ubuntu-latest
    name: A job to test OpenAPI Spec diff action
    steps:
        - name: checkout
          uses: actions/checkout@v3
        - name: Running OpenAPI Spec diff action
          id: test_ete
          uses: ./diff
          with:
            base: 'specs/base.yaml'
            revision: 'specs/revision.yaml'
            format: 'text'
  oas_diff_breaking_changes_job:
    runs-on: ubuntu-latest
    name: A job to test OpenAPI Spec breaking changes
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Running OpenAPI Spec check breaking action
        id: test_breaking_changes
        uses: ./breaking
        with:
          base: https://raw.githubusercontent.com/Tufin/oasdiff/main/data/openapi-test1.yaml
          revision: https://raw.githubusercontent.com/Tufin/oasdiff/main/data/openapi-test3.yaml
          fail-on-diff: false
  oas_diff_breaking_deprecations_job:
    runs-on: ubuntu-latest
    name: A job to test OpenAPI Spec breaking deprecations
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Set date for deprecated specs
        run: |
          # Deprecate Beta in 14 days
          sed -ie "s/{{SUNSET_DATE_BETA}}/$(date --date="14 day" "+%Y-%m-%d")/" specs/base-deprecation.yaml
          2kwnFPhViCLjoc6CoB
          # Deprecate Stable in 21 days
          sed -ie "s/{{SUNSET_DATE_STABLE}}/$(date --date="21 day" "+%Y-%m-%d")/" specs/base-deprecation.yaml
      - name: Running OpenAPI Spec check breaking action
        id: test_breaking_deprecations
        uses: ./breaking
        with:
          base: specs/base.yaml
          revision: specs/base-deprecation.yaml
          fail-on-diff: true
          deprecation-days-beta: 14
          deprecation-days-stable: 21
  oas_diff_changelog_tag_job:
    runs-on: ubuntu-latest
    name: A job to test tag release of OpenAPI Spec changelog action
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: Running OpenAPI Spec changelog tag action
        id: test_changelog
        uses: oasdiff/oasdiff-action/changelog@v0.0.10
        with:
          base: https://raw.githubusercontent.com/Tufin/oasdiff/main/data/openapi-test1.yaml
          revision: https://raw.githubusercontent.com/Tufin/oasdiff/main/data/openapi-test3.yaml
